In [2]:
def student_info(name,age=18):
    print("Name:",name)
    print("Age:",age)

### Function Calling

In [3]:
student_info("John")
student_info("Alice",20)

Name: John
Age: 18
Name: Alice
Age: 20

### NumPy

#### Install Commands

In [5]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

#### Import

In [6]:
import numpy as np

### Creating NumPy Array

In [7]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print("NumPy Array:", arr)

NumPy Array: [1 2 3 4 5]

In [8]:
import numpy as np
arr2d = np.array([[1, 2, 3], [4, 5, 6]])
print("2D NumPy Array:\n", arr2d)

2D NumPy Array:
 [[1 2 3]
 [4 5 6]]

### Pandas

#### Installing Pandas

In [9]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\.vscode\repos\basic\python_basics\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

#### Import Pandas

In [10]:
import pandas as pd

### Create Pandas series from a list

In [11]:
import pandas as pd
s=pd.Series([10, 20, 30, 40, 50])
print(s)
print("type:",type(s))

0    10
1    20
2    30
3    40
4    50
dtype: int64
type: <class 'pandas.core.series.Series'>

### Create pandas dataframe from dictionary

In [13]:
import pandas as pd
data={'Name': ['Alice', 'Bob', 'Charlie'],
      'Age': [25, 30, 35],
      'City': ['New York', 'Los Angeles', 'Chicago'],
      'Salary': [70000, 80000, 90000]}
print(data)
df=pd.DataFrame(data)
print(df)

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Los Angeles', 'Chicago'], 'Salary': [70000, 80000, 90000]}
      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000

### Import online csv file for analysis

In [20]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/Suicide%20data.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

### Import csv file from local folder into dataframe

In [17]:
import pandas as pd
df=pd.read_csv('real_2013_air.csv')
df.head()

      T    TM   Tm     SLP   H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61  1.3  8.7  22.2  200.645833